<!doctype html>
<head>
  <title>temp.legal</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
  <header>
    <div class=header>
      <div class=centered>
	<div class=headertext>
	  temp.legal
	</div>
      </div>
    </div>
    <div class=menu>
      <div class=centered>
	<ul>
	  <li><a href="/">Home</a>
	  <li><a href="/about">About</a>
	  <li><a href="#">Resources</a>
	  <li><a href="/form">Contact</a>	    
	</ul>
      </div>
    </div>
    
  </header>
  
  <div class=centered>
    <article> 
      {% block content %}{% endblock %}
    </article>
  </div>
</body>
</html>
