<!doctype html>
<head>
  <title>lightline</title>
{% include 'stylesheets.html' %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<html>
<body>
  <header>
    <div class=header>
      <div class=centered>
	<div class=menu>
	  <div class=menucontainer>
{% include 'menu.html' %}
	  </div>
	</div>
	<div class=headertext>
	  <a href="/">
	  <img id=logo src="/images/lightline_logo.png" width=60 height=60>
	  <span id=light>light</span><span id=line>line</span>
	  </a>
	</div>
      </div>
    </div>
  </header>
  
  <div class=centered>
    <article> 
      {% block content %}{% endblock %}
    </article>
  </div>
</body>
</html>
