<form method="POST" class="contact-us-form" action="/form">
<h2>Name</h2>
<label class="form-sub-label" for="first_name">First Name</label>
<input type="text" name="first_name"/>
<label class="form-sub-label" for="last_name">Last Name</label>
<input type="text" name="last_name"/>

<h2>Contact Information</h2>
<label class="form-sub-label" for="email">Email address</label>
<input type="text" name="email"/>

<label class="form-sub-label" for="phone_number">Phone number</label>
<input type="text" name="phone_number"/>

<label class="form-sub-label" for="contact_method">Preferred Contact Method</label>
<label><input type="radio" name="contact_method" value="phone"> By Phone</label>
<label><input type="radio" name="contact_method" value="email"> By Email</label>

<h2>Location</h2>

<label class="form-sub-label" for="city">City</label>
<input type="text" name="city"/>

<label class="form-sub-label" for="state">State</label>
<select name="state">
{% include 'state_options.html' %}
</select>

<h2>Areas of need</h2>

{% include 'areas_of_need.html' %}

<h2>Additional Information</h2>
<p>
<textarea name="description" rows="6" cols="50"
          placeholder="Please give a brief description of your concerns or anything else we ought to know."></textarea>

<p>
<input type="submit"/>

</form>
