{% extends "base.html" %}

{% block content %}
<div class="la_march banner-image">
  <div class="image-title">
    We're here to help.
  </div>
</div>

<div class="image-attribution">
  <a href="https://www.flickr.com/photos/99292716@N06/32303876392/">
    Eric Garcetti
  </a>

  <a href="https://creativecommons.org/licenses/by/2.0/">CC by 2.0</a>
</div>


<p>We are social workers, lawyers and organizers who are dedicated to filling the cracks in America’s social safety net. In a world that is increasingly hostile to people of uncertain immigration status, LGBTQAI peoples, and people of color, it can be hard-to-impossible for many to access the services they need. Our volunteers act as guides through the system for those in search of help.

<h1 class=headline>Where are we</h1>

<p>Our volunteers live in cities around the country. We endeavor to arrange clients to be placed with volunteers in their local area whenever possible. 

<h1 class=headline>Our Mission</h1>

<p>Lightline was formed to serve as a resource to those overwhelmed by or without access to traditional sources of legal and social support. 

{% endblock %}
