@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Vesper+Libre');

html,body {
  font-family: "Raleway", sans-serif;
  font-size: 13.8px;
  padding: 0;
  margin: 0;
}

.headline {
  font-family: "Vesper Libre", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 1em;
  margin: 1em 0;
}

p {
  margin: 0;
}

.centered {
  max-width: 1200px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}

header a {
  text-decoration: none;
  color: #292f36;
}

img#logo {
  vertical-align: middle;
}

.headertext #light {
  font-weight: 100;
}

.headertext #line {
  font-weight: 700;
}

.menu {
  position: absolute;
  margin-left: 300px;
}

.menu ul {
  padding: 0;    
  margin: 0;
}
 
.menu li {
  display: inline;
  padding-right: 1.4em;
}

.menu li a {
  color: #aaa;
}

.menu li.active a {
  color: #292f36;
}

.menucontainer {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}

.header {
  padding: 0.3em 0;
  border-bottom: 1px solid #e3e3e3;
}

.headertext {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 220%;
}

.formitems {
  list-style: none;
}

article {
  color: #292f36;
}

/*
* Form Styling
*/

.form-label {
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
}

.form-sub-label {
  display: block;
  font-size: 12px;
  margin-top: 4px;
}

.form-rows {
  padding: 0;
  margin: 0;
}

.form-rows li {
  list-style-type: none;
  margin-bottom: 10px;
}

.contact-us-form input[type=text], .contact-us-form textarea {
  background-color: #fafafa;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  font-size: 16px;
  line-height: 40px;
  padding: 0 8px;
  width: 100%;
}

.contact-us-form select {
  background-color: #fafafa;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  font-size: 16px;
  height: 42px;
  width: 100%;
}

.radio-option {
  display: block;
  margin: 0 0 5px;
}

.form-actions {
  float: right;
}

.btn.blue {
  border: none;
  border-radius: 4px;
  background-color: #054a91;
  color: white;
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: .8em 1em;
}
Contact GitHub API Training Shop Blog About
